HELP.md
target/
indexes/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
upload/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.patch

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
log/
/src/main/resources/public/assets/images/
/frontend/.ionide/
/frontend/dist/
/frontend/node_modules/
