#  Template maven-build

#  This template allows you to test and build your Java project with Maven.
#  The workflow allows running tests, code checkstyle and security scans on the default branch.

# Prerequisites: pom.xml and appropriate project structure should exist in the repository.

image: maven:3.6.3

pipelines:
  default:
    - step:
        name: Build and Test
        caches:
          - maven
          - node
        script:
          - mvn clean install -DskipTests
        artifacts:
          - target/*.jar
    - step:
        name: Deploy to production
        image: maven:3.6.3
        deployment: production
        trigger: manual
        script:
          - ssh mk-mk@mk.mk 'sudo service mk-mk stop'
          - ssh mk-mk@mk.mk 'rm -f /home/stambol/prod/mk-mk-web-0.0.1-SNAPSHOT.jar'
          - scp target/*.jar mk-mk@mk.mk:/home/stambol/prod/mk-mk-web-0.0.1-SNAPSHOT.jar
          - ssh mk-mk@mk.mk 'sudo service mk-mk start'